tr.completed {
  background-color:#c4ffbd;
  text-decoration: line-through;
}

/* tr:hover{
  color: rgb(239, 236, 242);
  background-color: black;
} */

form{
  padding-left: 350px;
  padding-top: 150px;
  padding-right: 250px;
}

.form-control{
  width: 75%;;
}
form h1{
  padding-left: 130px;

}

a {
  color: rgb(247, 251, 255);
  text-decoration: none;
}
a:hover {
   color: rgb(0, 0, 0);
   background-color: white;
   padding: 0.01em;
   text-decoration-thickness: 20%;
   
}

.btnX{ 
  /* padding: auto; */
  border-radius:50%;  
   border : 3px solid red; 
  width: 40px;
  height: 40px;
  color: red;
   /* position: relative; */
  cursor: pointer; 
}

.btnX:hover{
   background-color:3px solid rgb(0, 0, 0);
 }
 
 .btnM{
  background-color: aliceblue;
  width: 20px;
  height: 20px;
  cursor: pointer;
 }
 .btnM:active{
    background-color: green;
    
 }

 .topBtn {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.topBtn:hover {
  background-color: rgb(11, 4, 4);
}


